<style > body {
    background-color: gray;
}

.jumbotron {
    background: Url("resource/matagordaPier.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%;
    font-family: 'Shadows Into Light', cursive;
}

.lead {
    font-size: 200%;
}

#mainVideo {
    width: 50%;
    margin: auto;
}

.container {
    padding: 30px;
}

.card {
    border-color: black;
    border-width: thick;
}

.card-img-top {

    width: 100%;
    height: 60%;

}

.card-block {
    margin: 5px;
}

#appStoreIcon {

    width: 200px;

}

#footer {
    color: white;
    background-color: #404040;
    padding-top: 75px;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 75px;
}



</style >
